ul {
	padding-right: 50px;
	text-align: right;
	background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

ul li {
	display: inline-block;
}

ul li a {
	padding: 20px;
	font-family: "Roboto";
	color: rgba(0, 0, 0, 0.5);
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4);
	font-size: 25px;
	text-decoration: none;
	display: block;
}

ul li a:hover {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
	background: rgba(255, 255, 255, 0.1);
	color: rgba(0, 0, 0, 0.7);
}